/**
 * Buttons
 * --------------------------------------------------
 */

.button {
	border: none;
	border-radius: 0;

	&.brand-primary {
		&.activated {
			@include button-style($brand-primary, #fff);
		}

		&:hover {
			@include button-style($brand-primary, #fff);
		}
	}

	&.brand-secondary {
		&.activated {
			@include button-style($brand-secondary, #fff);
		}

		&:hover {
			@include button-style($brand-secondary, #fff);
		}
	}

	&.brand-tertiary {
		&.activated {
			@include button-style($brand-tertiary, #fff);
		}

		&:hover {
			@include button-style($brand-tertiary, #fff);
		}
	}
	&.brand-primary-inverse {
		@include button-style(transparent, $brand-primary);

		&.activated, &:hover {
			@include button-style(transparent, $brand-primary);
			border: none;
			box-shadow: none;
		}
	}

	&.brand-secondary-inverse {
		@include button-style(transparent, $brand-secondary);

		&.activated, &:hover {
			@include button-style(transparent, $brand-secondary);
			border: none;
			box-shadow: none;
		}
	}

	&.brand-tertiary-inverse {
		@include button-style(transparent, $brand-tertiary);

		&.activated, &:hover {
			@include button-style(transparent, $brand-tertiary);
			border: none;
			box-shadow: none;
		}
	}

	.bar & {
		&.back-button {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			height: 44px;
			width: 44px;

			.icon {
				&:before {
					font-size: 22px;
					line-height: 24px;
					margin-top: 10px;
				}
			}
		}
	}
}

.button-icon.button.active, 
.button-icon.button.activated {
	opacity: 1;
}