.list {
	.item {
		border-color: $border-color;

		&.is-active {
			background: $brand-primary;
			color: #fff;
		}
	}
	.item-divider {
		text-transform: uppercase;
		background: $brand-border-bg;
	}
	.item-icon-left {
		.icon {
			width: 24px;
			font-size: 24px;

			&:before {
				height :24px;
				width: 24px;
			}
		}
	}

	.sub-cats {
		padding: 10px 10px 4px;
		background: $brand-border-bg;
		border-left: $brand-border;
		border-right: $brand-border;

		.item {
			display: inline-block;
			margin-right: 10px;

			.item-content {
				padding-left: 54px;
			}

			input:checked ~ .item-content {
				background: $brand-primary;
				color: #fff;
			}
			input:checked ~ .icon {
				color: #fff;
			}
		}
	}
}