.menu-content {
	box-shadow: none;
}
.menu {
	background: $brand-secondary;
	border: none;

	.item {
		background: $brand-secondary;
		color: #fff;
		border-color: $brand-primary;

		&:hover {
			background: $brand-primary;
		}
		.icon {
			font-size: 24px;

			&:hover {
				text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
			}
		}
	}

	.bar-header {
		border: none;
		background: $brand-secondary;

		.ion-close {
			color: #fff;
			position: absolute;
			right: 0;
			top: 6px;

			&:before {
				font-size: 22px;
			}
		}
	}
}