// BRAND COLOURS
// -------------------------------

$brand-primary: 				#559ba5;
$brand-secondary:				#027276;
$brand-tertiary:				#f36b37;
$brand-light:					#f5ecdd;

$brand-gray:					#c2c2c0;
$brand-light-gray:				lighten($brand-gray,20%);
$brand-dark-gray:				darken($brand-gray,10%);
$brand-darker-gray:				darken($brand-gray,30%);