<ion-side-menus>

  <ion-pane ion-side-menu-content ng-class="{'has-subnav': !isSubnavHidden}">
    <header class="bar main-header" ng-controller="SpendingHeaderCtrl">
      <div class="main-title">APP TITLE</div>
      <button ng-click="addNew()" class="button button-left button-icon icon ion-plus brand-tertiary"></button>
      <button menu-toggle="right" class="button button-right button-icon icon ion-navicon brand-secondary"></button>
    </header>
    <ion-nav-bar animation="no-animation" class="bar-sub-header" ng-model="isSubnavHidden" ng-show="!isSubnavHidden">
      <ion-nav-back-button class="button brand-secondary-inverse"><i class="icon ion-arrow-left-c"></i> </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right" ng-controller="SpendingMenuCtrl">
    <ion-header-bar>
      <button menu-close class="button button-icon icon ion-close"></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <a class="item item-icon-left" menu-close href="#/home"><i class="icon ion-home"></i> Home</a>
        <a class="item item-icon-left" menu-close href="#/transactions"><i class="icon ion-document"></i> Transactions</a>
        <a class="item item-icon-left" menu-close href="#/reports"><i class="icon ion-stats-bars"></i> Reports</a>
        <a class="item item-icon-left" menu-close href="#/settings"><i class="icon ion-gear-a"></i> Settings</a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>