<ion-view title="">
	<ion-content class="has-header">
		<div class="panel">
			<div ng-show="master.transactions">
				<h2>Recent transactions</h2>
				<ion-list>
					<div ng-repeat="(key, transaction) in groups | limitTo: 3">
						<div class="item item-divider">{{transaction[0].date.value | dateString}}</div>
			        	<ion-item ng-repeat="item in transaction" item="item" href="#/transactions/{{item.id}}" class="item-icon-left">
			        		<div class="transaction">
			        			<div class="row">
				        			<div class="col"><i class="icon {{item.category | categoryIcon}}"></i>{{ item.description }}</div>
				        			<div class="col text-right" ng-class="{true: 'type-minus', false: 'type-plus'}[item.type=='-']">
				        				<span ng-show="item.type=='-'">-</span><span>{{master.meta.currency}}</span>{{ item.amount | displayPrice }}
				        			</div>
				        		</div>
			        		</div>
			        	</ion-item>
			        </div>
		      	</ion-list>
	      	</div>
	      	<p ng-hide="master.transactions">You haven't added any transactions yet. <a href="#/new">Add your first transaction</a>.</p>
	    </div>
	</ion-content>
</ion-view>
