<ion-view title="{{transaction.category | categoryParent}}">
	<ion-content padding="true" class="has-header">
		<div class="category">
			<i class='icon {{transaction.category | categoryIcon}}'></i> 
			<span class="category-name">{{transaction.category}}</span>
		</div>
		<div class="list">
			<div class="item item-divider">
				<i class="icon ion-calendar"></i> {{transaction.date.value | dateString}}
	    	</div>
	    	<div class="item">
				<div class="row">
	    			<div class="col">{{ transaction.description }}</div>
	    			<div class="col text-right" ng-class="{true: 'type-minus', false: 'type-plus'}[transaction.type=='-']">
	    				<span ng-show="transaction.type=='-'">-</span><span>{{master.meta.currency}}</span>{{ transaction.amount | displayPrice }}
	    			</div>
	    		</div>
			</div>
		</div>
	</ion-content>
</ion-view>
